<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>gRPC Counter</title>
	<link rel="stylesheet" media="all" href="style.css" />
	<script src="/relayr"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
	<script type="text/javascript">
		RelayRConnection.ready(function() {
			RelayR.CountRelay.client.counterUpdated = function(count) {
				document.getElementById('counter').innerHTML = count;
			};
		});
	</script>
</head>
<body>
	<div id="counter"></div>
	<div class="count"></div>

	<script id="count-template" type="text/template">
		<span class="current top <%= currentSize %>"><%= time %></span>
		<span class="next top <%= nextSize %>"><%= nextTime %></span>
		<span class="current bottom <%= currentSize %>"><%= time %></span>
		<span class="next bottom <%= nextSize %>"><%= nextTime %></span>
	</script>
	<script src="script.js"></script>
</body>
</html>
